**Name:** Luong Nguyen  
**Student ID:** 1504210
<h3>Cognitive Systems Mathematics and Methods  
Assignment 4: Linear regression</h3>
<hr>

In [0]:
# import needed packages
import numpy as np
import pandas as pd
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt

## Data preparation

In [2]:
# download data
!wget -O winequality.csv http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv

--2019-02-09 14:14:33--  http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.249
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.249|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 84199 (82K) [text/csv]
Saving to: ‘winequality.csv’

winequality.csv     100%[===================>]  82.23K  --.-KB/s    in 0.09s

2019-02-09 14:14:33 (941 KB/s) - ‘winequality.csv’ saved [84199/84199]

In [3]:
# read data in
df = pd.read_csv('winequality.csv', sep=';')

# take a look at the dataset
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [4]:
# summarize the data
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [5]:
# split df into features and labels
X, y = df.drop(columns=['quality']), df['quality']
print('X: feature matrix')
print(X.head().transpose())
print('\ny: target vector')
print(y.head())

X: feature matrix
                            0        1       2       3        4
fixed acidity          7.4000   7.8000   7.800  11.200   7.4000
volatile acidity       0.7000   0.8800   0.760   0.280   0.7000
citric acid            0.0000   0.0000   0.040   0.560   0.0000
residual sugar         1.9000   2.6000   2.300   1.900   1.9000
chlorides              0.0760   0.0980   0.092   0.075   0.0760
free sulfur dioxide   11.0000  25.0000  15.000  17.000  11.0000
total sulfur dioxide  34.0000  67.0000  54.000  60.000  34.0000
density                0.9978   0.9968   0.997   0.998   0.9978
pH                     3.5100   3.2000   3.260   3.160   3.5100
sulphates              0.5600   0.6800   0.650   0.580   0.5600
alcohol                9.4000   9.8000   9.800   9.800   9.4000

y: target vector
0    5
1    5
2    5
3    6
4    5
Name: quality, dtype: int64

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=3) 

print('Shape of')
print('  train data:       ', X_train.shape)
print('  validation data:  ', X_test.shape)
print('  train labels:     ', y_train.shape)
print('  validation labels:', y_test.shape)

Shape of
  train data:        (1119, 11)
  validation data:   (480, 11)
  train labels:      (1119,)
  validation labels: (480,)

## Linear Regression Model

In [7]:
# build and fit model
reg = linear_model.LinearRegression()
reg.fit(X_train, y_train)

# output model
print("Coefficients:" ,reg.coef_)
print("Intercept:", reg.intercept_)

# compute predicted values
y_pred = reg.predict(X_test)

# compute error statistics
mse = mean_squared_error(y_test, y_pred)
r2s = r2_score(y_test, y_pred) 
print("MSE = ", mse)
print("R2s = ", r2s)

Coefficients: [ 3.20684622e-03 -9.91753700e-01 -1.59309712e-01  1.62945952e-03
 -1.60609979e+00  7.12457881e-03 -4.21825977e-03  1.22791715e+01
 -4.85198264e-01  8.08457261e-01  3.08783198e-01]
Intercept: -7.992582123601144
MSE =  0.39864920233434975
R2s =  0.3781859427000416

In [8]:
# print regression equation
print('quality = ', end='')
for variable, coef in zip(X.columns, reg.coef_):
  print(f'{coef:.3f} x {variable}', end= ' ' if variable == 'alcohol' else ' + \n\t')
print(f'{reg.intercept_:.3f}')

quality = 0.003 x fixed acidity +
	-0.992 x volatile acidity +
	-0.159 x citric acid +
	0.002 x residual sugar +
	-1.606 x chlorides +
	0.007 x free sulfur dioxide +
	-0.004 x total sulfur dioxide +
	12.279 x density +
	-0.485 x pH +
	0.808 x sulphates +
	0.309 x alcohol -7.993

## Variable importance

In [9]:
import warnings
warnings.simplefilter("ignore")

# normalize variables and rerun MLR analysis to
# estimate variable importance.
scaler = StandardScaler()
dfn = pd.DataFrame(scaler.fit_transform(df))
Xn = dfn.iloc[:,:-1]
Yn = dfn.iloc[:, -1]

reg2 = linear_model.LinearRegression()
reg2.fit(Xn,Yn)
print("Standardized variables...")
print("Coefficients:" ,reg2.coef_)
print("Intercept:", reg2.intercept_)

Standardized variables...
Coefficients: [ 0.05387891 -0.24026089 -0.0440379   0.02851261 -0.1092302   0.05649078
 -0.13297854 -0.04178926 -0.07907982  0.1923365   0.36447012]
Intercept: 1.2085634167346091e-15

In [10]:
# 5 most important variables
sorted(zip(X.columns, reg2.coef_), key= lambda i: -np.abs(i[1]))[:5]

[('alcohol', 0.3644701245054741),
 ('volatile acidity', -0.24026088853614716),
 ('sulphates', 0.19233649882276677),
 ('total sulfur dioxide', -0.13297854442459814),
 ('chlorides', -0.10923020208618027)]